/* Master styles*/
body{
    font-family: "Bebas Neue", sans-serif;
    margin: 0px;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*
.container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }
*/

/* Nav styles*/
.navbar{
    display: flex; 
    justify-content: space-between;
    padding: 38px;
}

.leftside{
    display: flex;
}

.navbar > .leftside > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover{
    border-bottom: 1px solid black;
}

.nav-link a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* Prtfolio styles*/

.portfolio-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item{
    position: relative;
}

.portfolio-img-background{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/* Needs to be more specific with the selector*/

.img-text:hover .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .subtitle{
    font-weight: 600;
    color: mediumslateblue;
}

.img.darken{
    transition: 1s;
    filter: brightness(10%);
}

/*About Page*/
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image img{
    width: 100%;
}

.profile-content{
    padding: 30px;
}

.profile-content h1{
    color: mediumslateblue;
}